h2 {
  text-align: center;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

#section1 {
  height: 570px;
  background-image: url(./images/top.png);
  background-size: cover;
  text-align: center;
  padding-top: 300px;
}

.top-container {
  display: inline-block;
  width: 300px;
  height: 165px;
  padding: 10px;
  text-align: center;
  /* サイトから引っ張ってきたやつ */
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  border-right: 5px solid #b84c00;
  /* 陰 */
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.top-container h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container h3 {
  font-size: 30px;
}

#section2 {
  height: 570px;
  padding-top: 20px;
}

.nick-container {
  display: flex;
  justify-content: space-around;
}

.maru-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.sns-image {
  width: 200px;
  margin-top: 10px;
  /* 陰 */
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.compliment {
  font-size: 30px;
  height: 145px;
}

#heart-button {
  cursor: pointer;
}

#section3 {
  background-color: antiquewhite;
  height: 750px;
  padding: 25px 5%;
}

.container1 {
  display: flex;
  justify-content: space-around;
}

.item1 {
  height: 600px;
  width: 25%;
  background-color: rgb(243, 211, 172);
  border: solid 4px rgb(247, 180, 97);
}

.item1 p {
  text-align: center;
  width: 80%;
  margin: 5px 10%;
  border-bottom: solid 2px rgb(223, 136, 136);
}

#item2 {
  width: 80%;
  margin: 5px 10%;
}

.quiz-text {
  text-align: center;
}

#item2 button {
  background-color: rgb(244, 194, 133);
  height: 36px;
  width: 80%;
  margin: 6px 10%;
  border-radius: 18px;
  border: solid 3px red;
}

#item2 button:hover {
  background-color: rgb(79, 55, 27);
  color: white;
}

.feedback {
  margin-top: 15px;
}

#feedback2 {
  width: 210px;
}

/* 押しボタン */
#feedback6 {
  width: 210px;
  position: absolute;
  top: 1680px;
}

#section4 {
}

.news-item {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.news-item p {
  font-size: 30px;
  text-align: center;
  width: 450px;
}

.news-item img {
  width: 640px;
  height: 360px;
  object-fit: cover;
}

.fixed-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(244, 196, 196);
  padding: 10px;
  border-radius: 10px;
}

#box2 a {
  text-decoration: none;
  font-weight: bold;
}

#box2 a:hover {
  color: white;
}
