h2 {
  text-align: center;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

#section0 {
  height: 570px;
  background-image: url(./images/top.png);
  background-size: cover;
  text-align: center;
  padding-top: 300px;
}

.top-container {
  display: inline-block;
  width: 300px;
  height: 165px;
  padding: 10px;
  text-align: center;

  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  border-right: 5px solid #b84c00;
  /* 陰 */
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.top-container h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container h3 {
  font-size: 30px;
}

#section1 {
  background-color: antiquewhite;
  height: 570px;
  padding: 25px 5%;
}

@keyframes color {
  0% {
    background-color: rgb(252, 233, 233);
  }
  25% {
    background-color: rgb(248, 195, 195);
  }
  50% {
    background-color: rgb(249, 152, 152);
  }
  75% {
    background-color: rgb(248, 195, 195);
  }
  100% {
    background-color: rgb(252, 233, 233);
  }
}

.intro-container {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  width: 350px;
  margin-top: 25px;
  margin-left: 15px;
  text-decoration: none;
  padding: 35px;
  line-height: 50px;
  font-size: 30px;
  /* 以下keyframeより */
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.intro-image1 {
  height: 570px;
  position: absolute;
  top: 569px;
  right: 0;
}

.intro-image2 {
  height: 300px;
  position: absolute;
  top: 840px;
  right: 300px;
}

#section2 {
  height: 570px;
  padding-top: 20px;
}

.nick-container {
  display: flex;
  justify-content: space-around;
}

.maru-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.sns-image {
  width: 200px;
  margin-top: 10px;
  /* 陰 */
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.compliment {
  font-size: 30px;
  height: 145px;
}

#heart-button {
  cursor: pointer;
}

#section3 {
  background-color: antiquewhite;
  height: 750px;
  padding: 25px 5%;
}

.container1 {
  display: flex;
  justify-content: space-around;
}

.item1 {
  height: 600px;
  width: 25%;
  background-color: rgb(243, 211, 172);
  border: solid 4px rgb(247, 180, 97);
}

.item1 p {
  text-align: center;
  width: 80%;
  margin: 5px 10%;
  border-bottom: solid 2px rgb(223, 136, 136);
}

#item2 {
  width: 80%;
  margin: 5px 10%;
}

.quiz-text {
  text-align: center;
}

#item2 button {
  background-color: rgb(244, 194, 133);
  height: 36px;
  width: 80%;
  margin: 6px 10%;
  border-radius: 18px;
  border: solid 3px red;
}

#item2 button:hover {
  background-color: rgb(79, 55, 27);
  color: white;
}

.feedback {
  margin-top: 15px;
}

#feedback2 {
  width: 210px;
}

/* 押しボタン */
#feedback6 {
  width: 210px;
  position: absolute;
  top: 2430px;
}

#section4 {
}

.news-item {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.news-item p {
  font-size: 30px;
  text-align: center;
  width: 450px;
}

.news-item img {
  width: 640px;
  height: 360px;
  object-fit: cover;
}

#section5 {
  background-color: antiquewhite;
  padding: 25px 5%;
}

.question {
  display: inline-block;
  background-color: rgb(244, 205, 155);
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
}

.answer {
  display: inline-block;
  background-color: rgb(149, 207, 237);
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
}

/* 追従メニュー */
.fixed-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(244, 196, 196);
  padding: 10px;
  border-radius: 10px;
}

#box2 a {
  text-decoration: none;
  font-weight: bold;
}

#box2 a:hover {
  color: white;
}

/* フェードイン周り */
.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
